
.image-view{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}

.button{
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
}
.button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button:pressed{
    -fx-scale-x: 0.93;
    -fx-scale-y: 0.93;
}

.edit-button{
    -fx-background-color: "orange";
}
.edit-button:hover{
    -fx-background-color: "darkorange";
}

.add-button{
    -fx-background-color: #40bbf5;
}
.add-button:hover{
    -fx-background-color: #39a8db;
}

.ok-button{
    -fx-background-color: #14e066;
}
.ok-button:hover{
    -fx-background-color: #0eb350;
}

.cancel-button {
    -fx-background-color: #e01469;
}
.cancel-button:hover{
    -fx-background-color: #b51055;
}

.table-view .column-header .label{
    -fx-alignment: LEFT;
}

.redirect-button {
    -fx-background-color:  #fcba03;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

.redirect-button:hover {
    -fx-background-color: "darkorange";
}

.redirect-button:pressed {
    -fx-background-color: #fcba03;
}

.anchorSection{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 3);
    -fx-font-family: Verdana;
}

.anchorSection:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* LIST DE VENTA DE PRODUCTOS */

/* Estilo general de la ListView */
.list-view {
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-border-width: 1;
    -fx-border-color: #8bb3a5;
    -fx-font-size: 9pt;
    -fx-font-family: Verdana;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.sale-pane{
    -fx-background-color: rgba(119, 226, 217, 0.2);
}

.sale-pane .label{
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.price-label{
    -fx-text-fill: #3ae072;
}

/* ESTILOS DE TABLA SALES*/

.table-view .column-header {
    -fx-background-color: #3063a1;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 9pt;
    -fx-font-family: Verdana;
}

.table-cell {
    -fx-font-size: 10pt;
    -fx-alignment: LEFT;
}

.scroll-bar {
    -fx-background-color: transparent;
}